button {
    background-color: #32be8f; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: space-around;
  }
  .texto{
      align-items: center;
      font-size: 15px;
  }